footer a {
  text-decoration: none;
  color: rgb(0, 225, 255);
}
footer {
  font-size: 11px;
  margin-top: 10px;
}
@media (max-width: 767px) {
  footer {
    font-size: 10px;
    text-align: center;
  }
} ;
