.Weather {
  margin-top: 20px;
}
li {
  list-style: none;
  font-weight: 900;
  color: #999da1;
  line-height: 25px;
}

.container {
  box-shadow: 1px 1px 15px #b1d4fa;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10%;
}

.Weather h1 {
  font-weight: 900;
  color: #70757a;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather .temperature {
  font-size: 75px;
  font-weight: 700;
  line-height: 64px;
  margin-right: 5px;
}

.Weather canvas {
  margin-top: -30px;
  margin-right: 8px;
}
.Weather .celcius,
.fahrenheit {
  position: relative;
  top: -40px;
  font-weight: 600;
}

.Weather .fahrenheit {
  color: #999da1;
}

@media (max-width: 767px) {
  input {
    max-width: 100%;
  }

  .btn,
  .form-control {
    font-size: 10px;
  }

  li {
    font-size: 12px;
    line-height: 18px;
  }

  .Weather .temperature {
    font-size: 40px;
  }

  .Weather .celcius,
  .fahrenheit {
    top: -20px;
    font-size: 10px;
  }

  .Weather canvas {
    margin-top: 10px;
    margin-right: 0;
    width: 35px;
    height: 35px;
  }

  .humidity {
    margin-top: 10px;
  }
}
