.Weather {
  margin-top: 40px;
}
li {
  list-style: none;
  font-weight: 900;
  color: #999da1;
  line-height: 25px;
}

.container {
  box-shadow: 1px 1px 10px #d9e4f0;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10%;
}

.Weather h1 {
  font-weight: 900;
  color: #70757a;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather .temperature {
  font-size: 75px;
  font-weight: 700;
  line-height: 64px;
  margin-right: 5px;
}

.Weather canvas {
  margin-top: -30px;
  margin-right: 8px;
}
.Weather .celcius,
.fahrenheit {
  position: relative;
  top: -40px;
  font-weight: 600;
}

.Weather .fahrenheit {
  color: #999da1;
}
